.backround_image{
    position: relative;
    height: 100vp;
    width: 100%;
    display: flex;
}
.backround_image::before{
    content: "";
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/5/55/Spitfire_-_Season_Premiere_Airshow_2018_%28cropped%29.jpg);
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.4;
    position: fixed;
}
.backround_image_1{
    position: relative;
    
}
.header{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.header2{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.cuadro{
    border: 2px solid rgb(2, 114, 139);
    padding: 2px;
}
@media (max-width: 800px){
    
    
}
    
@media (min-width: 800px){
    .gloster{
        width: 60%;
        display: flex;
        flex-direction: column;
    
    }

    .antonov{
        width: 60%;
        display: flex;
        flex-direction: column;
        float: right;
        
    }

    .stearman{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .murdy1{
        width: 100%;
        display: flex;
        flex-direction: row;
    }

    .su1{
        float: right;
    }
    .su2{
        width: 100%;
        display: flex;
        flex-direction: row;
    }
}